@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.pagination {
  margin: 0 auto;
  width:fit-content;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 8px;
}

.button {
  display: flex;
  @include buttonRounded();
  @include center-content();

  font-size: 14px;
  text-decoration: none;
  color: $color-primary;
  cursor: pointer;
}

.prev {
  @include buttonRounded();
  background-image: url('./img/icons/arrow-left.svg');

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.next {
  @include buttonRounded();
  background-image: url('./img/icons/arrow-right.svg');

    &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.active {
  background-color: $color-primary;
  color: $color-white;
}



