@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.favoritesPage {
  width: 100%;;
  @include pageStyle($gap-extra-large);
}

.itemList {
  display: flex;
  flex-direction: column;
  row-gap: $gap-extra-large;

  @media (min-width: $tablet-min-width) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: $gap-small;
  }
}

.items {
  color: $color-secondary;
}