@use "../../styles/mixins.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles//variables.scss" as *;

.sectionCategories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
}


.categoriesTitle {
  @include secondTitle();
}
.categoriesList {
    @include responsive-grid(16px);
  }