@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.card {
  flex: 0 0 calc(50% - 8px);
  width: 100%;
  max-height: fit-content;
  scroll-snap-align: start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $gap-medium;
  min-width: 212px;
  padding: 24px;
  border: 1px solid $color-elements;
  border-radius: 8px;
  background-color: #fff;
  color: $color-primary;
  transition: border 0.3s ease-in-out;

  @media (min-width: $tablet-min-width) {
    flex: 0 0 calc(33.333% - 8px);

    &:hover .image {
    transform: scale(1.05);
    }

    &:hover {
      border-color: $color-icons;
    }
  }

  @media (min-width: $desktop-min-width) {
    flex: 0 0 calc(25% - 8px); 
  }
}

.cardLink {
  @include center-content();
  flex-direction: column;

  width: 100%;
  box-sizing: border-box;
  gap: $gap-small;

  text-decoration: none;
  color: $color-primary;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 8px;
  max-width: 220px;

  @media (min-width: $tablet-min-width) {
    height: 196px;
    max-height: 196px;
    transition: transform 0.3s ease;
  }
}

.title {
  padding-top: 16px;
  height: 28px;
  font-size: 14px;
  width: 100%;
}

.priceContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $gap-small;
  width: 100%;
  border-bottom: $border-elements;
  padding-bottom: 4px;
}

.oldPrice {
  text-decoration: line-through;
  font-weight: 500;
  color: $color-secondary;
}