@use '../../styles/variables.scss' as *;

.card {
  flex: 0 0 calc(50% - 8px); // 2 per row on mobile
  max-width: 100%;
  scroll-snap-align: start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  border: 1px solid $color-elements;
  border-radius: 8px;
  background-color: #fff;
  color: $color-primary;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.2);
    transform: scale(1.02);
  }

  @media (min-width: $tablet-min-width) {
    flex: 0 0 calc(33.333% - 8px); // 3 per row
  }

  @media (min-width: $desktop-min-width) {
    flex: 0 0 calc(25% - 8px); // 4 per row
  }
}

.cardLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  box-sizing: border-box;
  gap: 8px;


  text-decoration: none;
  color: $color-primary;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 8px;
  max-width: 220px;

  @media (min-width: $tablet-min-width) {
    height: 196px;
    max-height: 196px;
  }
}

.title {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  width: 100%;
}

.priceContainer {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
  border-bottom: 1px solid $color-elements;
  padding-bottom: 4px;
}

.price {
  margin: 0;
  font-size: 22px;
  font-weight: 800;
  line-height: 140%;
  color: $color-primary;
}

.oldPrice {
  margin: 0;
  width: 100%;
  text-decoration: line-through;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  color: $color-secondary;
}

.specs {
  margin: 0;
  padding: 8px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.specsTitles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  color: $color-secondary;
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
  gap: 8px;
}

.specsTitle {
  margin: 0;
}

.specsValues {
  font-family: Mont-SemiBold, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  color: $color-primary;
  font-size: 12px;
  font-weight: 800;
  line-height: 100%;
  gap: 8px;
}

.controls {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.addButton {
  margin: 0;
  flex-grow: 1;
  height: 40px;
  color: $color-white;
  background-color: $color-accent;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: all 0.3s ease;


  &:hover {
    box-shadow: 0px 3px 13px 0px rgba(23, 32, 49, 0.4);
  }
}

.favoriteButton {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;

  background-color: transparent;
  background-image: url('/img/favorites.png');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;

  border-radius: 50%;
  border: 1px solid $color-secondary;

  transition: all 0.3s ease;


  &:hover {
    border: 1px solid $color-primary;
  }
}

.favoriteButttonActive {
  background-image: url('/img/heart-icon-active.svg');

}