@use "../styles/variables.scss" as *;


@mixin responsive-grid($gap: 16px) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $gap;

  @media (min-width: 640px) {
    grid-template-columns: repeat(12, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(24, 1fr);
  }
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonRounded {
  height: $button-size;
  width: $button-size;
  border: 1px solid $color-elements;
  background-color: transparent;
  border-radius: 50%;

  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: $color-secondary;
  }
}

@mixin secondTitle {
  font-family: $font-bold;
  font-size: $font-size-second-title;
  line-height: 140%;
  letter-spacing: 0%;

  @media (min-width: $tablet-min-width) {
    font-size: 32px;
  }
}

@mixin afterElemLine {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-elements;
    margin-top: 16px;
  }
}