@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.itemsPage {
  @include pageStyle($gap-extra-large);
  width: 100%;
}

.models {
  color: $color-secondary;
}

.productList {
  display: flex;
  flex-direction: column;
  row-gap: $gap-extra-large;

  @media (min-width: $tablet-min-width) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: $gap-small;
  }
}

.settings {
  display: flex;
  gap: $gap-medium;
}

.settingsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    width: fit-content;
  }
}

.settingsSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 36px 8px 12px;
  border: $border-elements;
  border-radius: 10px;
  background-color: white;
  color: $color-primary;
  font-size: 14px;
  width: 100%;
  min-width: 128px;
  height: 40px;
  cursor: pointer;

  background-image: url('/img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10px 6px;
}

label {
  color: $color-secondary;
}