@use '../../styles/variables.scss' as *;

.itemsPage {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 1200px;
}

.title {
  font-family: $font-bold;
  font-size: 32px;
  line-height: 41px;

  @media (min-width: $tablet-min-width) {
    font-size: 48px;
    line-height: 56px;
  }
}

.models {
  font-size: 14px;
  line-height: 21px;
  color: $color-secondary;
}

.productList {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @media (min-width: $tablet-min-width) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
  }
}

.settings {
  display: flex;
  gap: 16px;
}

.settingsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    width: fit-content;
  }
}

.settingsSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 36px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  color: $color-primary;
  font-size: 14px;
  width: 100%;
  min-width: 128px;
  height: 40px;
  cursor: pointer;

  background-image: url('/img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10px 6px;
}

label {
  font-size: 14px;
  line-height: 21px;
  color: $color-secondary;
  padding-left: 3px;
}