@use '../../styles/variables.scss' as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: $gap-small;
}

.link {
  color: $color-secondary;
  text-decoration: none;
  text-align: center;

  &:last-of-type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.homeLink {
  width: $icon-size;
  height: $icon-size;
  background-image: url('./img/icons/home.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrow {
  width: $icon-size;
  height: $icon-size;
}