@use './styles/mixins.scss' as *;
@use './styles/variables.scss' as *;

.container {
  @include responsive-grid(16px);
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: $padding-mobile;
  padding-bottom: $padding-mobile;

  @media (min-width: $tablet-min-width) {
    padding-bottom: 0;
    padding-inline: $padding-tablet;
  }
  @media (min-width: $desktop-min-width) {
    padding-inline: $padding-desktop;
  }
}