@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.homePage {
  display: flex;
  flex-direction: column;
  gap: 48px;

  max-width: 1200px;
  grid-column: 1 / -1;
  padding-top: 32px;

  @media (min-width:$tablet-min-width) {
    gap: 64px;
  }
}

.homePageTitle {
  width: 100%;
  font-family: $font-bold;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -1%;

  @media (min-width: $tablet-min-width) {
  font-size: 48px;
  line-height: 56px;
  }
}
