@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.homePage {
  padding-top: $padding-desktop;

  @include pageStyle;
  @media (min-width:$tablet-min-width) {
    gap: $homepage-gap-tb;
  }
  @media (min-width:$desktop-min-width) {
    gap: $homepage-gap;
  }
}
