@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/fonts.scss' as *;

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: $tablet-min-width) {
    grid-column: 1 / -1;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-inline: -16px;

  @media (min-width: $tablet-min-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.sliderButton {
  display: none;

  @media (min-width: $tablet-min-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 100%;
    border: 1px solid $color-elements;
    border-radius: 48px;
    background-color: $color-white;
    transition: all 0.2s ease-in-out;

    &:hover {
      border: 1px solid $color-secondary;
    }
  }

  @media (min-width: $desktop-min-width) {
    width: 32px;
  }
}

.sliderButtonIcon {
  width: 16px;
  height: 16px;
}

.sliderTracker {
  display: flex;
  height: 100%;
  width: 300%;
  transition: transform 0.3s ease-in-out;
  height: auto;

  @media (min-width: $tablet-min-width) {
    max-height: 400px;
  }
}

.banner {
  width: 100%;
  height: auto;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  background-color: $color-primary;

  @media (min-width: $tablet-min-width) {
    border-radius: 8px;
  }
}

.mainSlide {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  padding: 32px 32px 0 32px;
  box-sizing: border-box;
  flex-shrink: 0;

  @media (min-width: $tablet-min-width) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2% 2% 0 2%;
    gap: 0;
  }
}

.mainSlideLeft {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: $tablet-min-width) {
    border-radius: 24px;
    background-color: rgb(31, 35, 33);
    width: 98%;
    height: 98%;
    padding: 3%;
  }
}

.mainSlideLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  @media screen and (min-width: $tablet-min-width) {
    align-items: flex-start;
  }
}

.mainSlideLeftTitle {
  text-align: center;
  font-size: 30px;
  font-family: 'mont-bold';
  background: linear-gradient(75.28deg, #891CE8 -22.43%, #7560FA 35.22%, #E963FF 100.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  @media (min-width: $tablet-min-width) {
    text-align: left;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 40px
  }

}

.mainSlideLeftText {
  display: none;

  @media (min-width: $tablet-min-width) {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-secondary;
  }
}

.mainSlideLeftButton {
  display: none;

  @media (min-width: $tablet-min-width) {
    all: unset;
    border-radius: 36px;
    color: $color-white;
    background-color: transparent;
    font-size: 16px;
    font-family: 'mont-semi-bold';
    border: 0.5px solid $color-secondary;

    height: 75px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mainSlideRight {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media (min-width: $tablet-min-width) {
    height: 100%;
    padding: 32px 32px 0 32px;
  }
}

.mainSlideRightImage {
  box-sizing: border-box;
  aspect-ratio: initial;
  width: 80%;
  object-fit: contain;
  border-radius: 16px;

  @media screen and (min-width: $tablet-min-width) {
    min-width: 150px;
    max-width: 350px;
  }
}

.mainSlideRightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mainSlideRightText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-secondary;
}

.mainSlideRightTitle {
  color: $color-white;
  font-family: 'Mont-SemiBold';
  font-size: 32px;


  @media (min-width: $tablet-min-width) {
    font-size: 32px;
  }
}

.secondarySlide {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 80px;
  height: fit-content;
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.navButton {
  all: unset;
  cursor: pointer;
  width: 14px;
  height: 4px;
  background-color: $color-elements;
}

.navButtonActive {
  background-color: $color-primary;
}